@model List<GigHubApp.Core.Models.Following>

@{
    ViewBag.Title = "Artists I'm Following";

}

<h2>Artists I'm Following</h2>


<ul>
    @foreach (var followee in Model)
    {
        <li>@followee.Followee.Name</li>
    }
</ul>